altgraph==0.16.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
docutils==0.15.2
future==0.18.2
idna==2.8
pefile==2019.4.18
pycparser==2.19
Pygments==2.4.2
PyInstaller==3.5
PySide2==5.13.2
python-telegram-bot==12.2.0
requests==2.22.0
shiboken2==5.13.2
six==1.13.0
telegram==0.0.1
tornado==6.0.3
urllib3==1.25.6
virtualenv==16.7.7
